html{
  margin:auto;
  background-color: #e6e6e6;

}
.page{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  text-align: center;
}
li{

  list-style:none;
}

img {
  padding: 1em;

}
span {

}

.img1{

  float:left;
  width: 35%;
  min-width:200px;
    text-align: center;

}
.footer{
  clear:both;
  text-align:center;
}
